<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{header}}</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink='/tabs/tab2'><ion-icon aria-hidden="true" name="close" color="danger" size="large"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-task1 *ngIf="showTask1" (taskCompleted)="task1Completed($event)"></app-task1>
  <app-task2 *ngIf="showTask2" (taskCompleted)="task2Completed($event)"></app-task2>
  <app-task3 *ngIf="showTask3" (taskCompleted)="task3Completed($event)"></app-task3>
  <app-task4 *ngIf="showTask4" (taskCompleted)="task4Completed($event)"></app-task4>
  <app-tasks-completed *ngIf="showTasksCompleted" [potatoes]="potatoes" [schnitzel]="schnitzel" [times]="times"></app-tasks-completed>
</ion-content>
