<ion-list>
    <ion-item>
      <ion-label>Task 1</ion-label>
      <ion-label>Time: {{times[0]}}</ion-label>
      <ion-label>🥔: {{potatoes[0]}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Task 2</ion-label>
      <ion-label>Time: {{times[1]}}</ion-label>
      <ion-label>🥔: {{potatoes[1]}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Task 3</ion-label>
      <ion-label>Time: {{times[2]}}</ion-label>
      <ion-label>🥔: {{potatoes[2]}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Task 4</ion-label>
      <ion-label>Time: {{times[3]}}</ion-label>
      <ion-label>🥔: {{potatoes[3]}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Total</ion-label>
      <ion-label>Time: {{totalTime}}</ion-label>
      <ion-label>🥔: {{totalPotatoes}}</ion-label>
    </ion-item>
  </ion-list>

<ion-button expand="block" shape="round" routerLink='/tabs/tab2'>Continue</ion-button>

