<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Leaderboard
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">



  <h1>Local Leader board</h1>
  <li *ngFor="let score of scores">
    <app-scores [score]="score"></app-scores>
  </li>


</ion-content>
