<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button expand="block" shape="round" id="present-alert">Start Game</ion-button>
  <ion-alert
    trigger="present-alert"
    header="Please enter your name"
    [buttons]="alertButtons"
    [inputs]="alertInputs"
  ></ion-alert>
</ion-content>
