
  <h1>Scan QR Code <app-timer [Countdown]="130" (gotPotato)="gotPotato($event)"></app-timer></h1>
  <ion-label>For this task, you have to scan the correct QR code.</ion-label>
  <br>
  <ion-button  shape="round" (click)="scan()" >scan</ion-button>

  <ion-tabs>
    <ion-button *ngIf="showButton" expand="block" shape="round" (click)="nextButtonClicked()">Continue</ion-button>
  </ion-tabs>
