
  <h1>Charching Taskc <app-timer [Countdown]="130" (gotPotato)="gotPotato($event)" ></app-timer></h1>
  <p>For this task, you have to connect your device to power.</p>


<ion-tabs>
  <ion-tab-bar  *ngIf="!IsCharging" color="black">
    <ion-icon aria-hidden="true" name="flash"></ion-icon>
  </ion-tab-bar>

  <ion-button *ngIf="IsCharging" expand="block" shape="round" (click)="nextButtonClicked()">Continue</ion-button>
</ion-tabs>
