<h1>Geolocation <app-timer  [Countdown]="130" (gotPotato)="gotPotato($event)" ></app-timer></h1>

<p>For this task, you have to go to the table tennis table outside the building.</p>
<p>Distance to objective: {{distance.toFixed(2)}}</p>

<ion-tabs>
  <ion-button *ngIf="showButton" expand="block" shape="round" (click)="nextButtonClicked()">Continue</ion-button>
</ion-tabs>
