  <h1>Walking Task <app-timer [Countdown]="130" (gotPotato)="gotPotato($event)"></app-timer></h1>

  <p>For this task, you have to walk 20 meters.</p>
  <h3>Distance walked: {{distance.toFixed(2)}}/20</h3>

  <ion-tabs>
    <ion-button *ngIf="showButton" expand="block" shape="round" (click)="nextButtonClicked()">Continue</ion-button>
  </ion-tabs>
